/*@font-face {*/
/*    font-family: 'Helvetica';*/
/*    url('../fonts/Helvetica/Helvetica.ttf') format('truetype'),*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

body {
    margin:0;
    /*overflow-x:hidden;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #EDECF2;
}
li{
    list-style:none;
}
.container-inner{
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    max-width: 1726px;
    margin: 0 auto;
    padding: 0 30px;
}
.dropdown-content .title{
    cursor:default;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
}
/*.mega-menu ul:hover li.title{*/
/*    font-weight:bold;*/
/*}*/
.mega-menu.women .women .title,
.mega-menu.man .man .title,
.mega-menu.children .children .title{
    font-weight:bold;
}
.navWidth{
    padding: 0 30px;
    max-width: 1756px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.topnav .navWidth > .dFlex{
    max-width: 330px;
}
.navWidth > .dFlex{
    max-width: 200px;
    width: 100%;
    height: min-content;
}
.navWidth .icon {
    display: flex;
    height: min-content;
    position: relative;
    max-width: 330px;
    width: 100%;
    justify-content: flex-end;
}
.navWidth .icon  > div {
    margin-left: 20px;
}
.topnav {
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
}
.topnav .navWidth {
    padding: 35px 30px 37px;
}
.bottomnav {
    overflow: hidden;
    background-color: rgba(186,183,201, 0.2);
    border-radius: 10px;
}
.logo {
    max-width: 172px;
    width: 100%;
}
.logo img {
    width: 100%;
}
.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin:0 1%;
    text-decoration: none;
    font-size: 17px;
    transition:0.5s;
}

.active {
    display: block!important;
}

.bottomnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin:0 1%;
    transition:0.5s;
}

.login_pop {
    display: none;
    position: absolute;
    right: 5%;
}
.user:hover .login_pop{
    display: block;
}

/*modal*/
.modal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.modal-login {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    visibility: visible;
}
.modal-login.is-visible {
    visibility: visible;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 236, 242,0.4);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal-login.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.mySellection,
.login{
    text-align: center;
}
.mySellection .modal-content img,
.login .modal-content img{
    max-width: 120px;
    width: 100%;
    margin: 0 auto;
}
.mySellection .modal-content p{
    background: rgba(183, 181, 198,0.2);
    padding: 60px 4px;
    margin: 50px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.mySellection .modal-content a{
    box-shadow: 0 4px 4px rgba(0 ,0 ,0 , 0.25);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    max-width: 326px;
    width: 100%;
    padding: 12px;
    display: inline-block;
    margin-bottom: 70px;
}
.login .modal-content button{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    max-width: 338px;
    width: 100%;
    padding: 12px;
    display: inline-block;
    margin-bottom: 70px;
    outline: none;
    border: none;
    background: #FFFFFF;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 50px;
    left: 50%;
    margin-left: -16em;
    background-color: #FCFCFC;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
    max-width: 522px;
    width: 100%;
}
.login .modal-wrapper {
    max-width: 504px;
    background-color: #E9E7F1;
}

.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}
.modal-login.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modal-header,
.modal-content {
    padding: 30px 25px;
}

.modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid #e8e8e8;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #aaa;
    background: none;
    border: 0;
}

.modal-close:hover {
    color: #777;
}

.modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
    margin-top: 0;
}

.modal-content > *:last-child {
    margin-bottom: 0;
}

.log_reg_toggle{
    max-width: 338px;
    width: 100%;
    margin: 30px auto 0;
}
.log_reg_toggle p{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    max-width: 174px;
    width: 100%;
    padding: 8px 4px;
}
.active_log{
    background: #FFFFFF;
    box-shadow: inset 0 4px 4px rgba(0,0,0, 0.25);
    border-radius: 5px;
}

.container_inp {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.check.container_inp a {
    color: #8B3A00;

}
/* Hide the browser's default radio button */
.container_inp input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    border: 1px solid #000000;
    width: 15px;
    /*background-color: #eee;*/
    border-radius: 0;
}

/* On mouse-over, add a grey background color */
.container_inp:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_inp input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: url("../images/check.png");
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_inp input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container_inp .checkmark:after {
    top: 0;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 0;
    background: white;
}

/*end modal*/
.login_bg{
    background-image: url("../images/log_bg.png");
    padding: 16px 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
.login_pop .login_bg > a{
    background: #945920;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 4px 21px ;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    margin: 15px auto 8px;
    color: #000000;
    display: inline-block;
}
.login_pop .login_bg p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    padding: 0 18px 20px;
}
.login_pop .login_bg p a{
    font-size: 12px;
    line-height: 15px;
    color: #005FA3;

}
.bottomnav .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 10px 7px;
    background-color: inherit;
    margin: 0;
    transition:0.5s;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.topnav .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 0 7px;
    background-color: inherit;
    margin: 0;
    transition:0.5s;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    cursor: pointer;

}
.sign_in_content{
    display: none;
    max-width: 338px;
    width: 100%;
    margin: 0 auto;
}
.sign_up_content{
    display: none;
}
.sign_up_content .form-item{
    max-width: 338px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.checked-user{
    justify-content: space-around;
}
.sign-up-in .reg_icon{
    width: 100%;
    margin: 0 auto 25px;
}
.sign-up-in .reg_icon span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    display: inline-block;
    margin: 0 15px;
}
.sign-up-in > p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin: 15px auto;
    opacity: 0.8;
}
select#country ,
select#region,
select#city{
    max-width: 338px;
    background-image: url("../images/map_ic.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
}
input#market{
    background-image: url("../images/map_ic.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
}
.sign_in_content form div input,
.sign_up_content form div select,
    /*.sign_up_content form div select option,*/
.sign_up_content form div input,
.select_specialization{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    padding: 17px 50px;
    background: #FFFFFF;
    outline: none;
    max-width: 238px;
    border: none;
    width: 100%;
    margin-bottom: 13px;
}
.login .select_specialization img{
    max-width: 100%;
    width: auto;
}
.login .select_specialization span{
    display: inline-block;
    margin: 0 18px;
}
.select_specialization.toggle_class {
    padding: 17px 20px;
    max-width: 299px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.icon_rotate{
    margin-left: 50px!important;
    object-fit: contain;
}
.icon_rotate_class{
    transform: rotate(-90deg);
}
.specialization{
    position: relative;
    display: none;
    top: -12px;
    background-color: #ffffff;
    padding: 15px 20px;
    border: 1px solid #000000;
}

.specialization label{
    font-style: normal;
    color: #000000;
    margin: 0 0 5px!important;
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

}
/*.specialization label input:checked ~ .checkmark:after {*/
/*    display: block;*/
/*}*/
/*.specialization label .checkmark:after {*/
/*    top: 0;*/
/*    left: 2px;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 0%;*/
/*    background: white;*/
/*}*/
/*.specialization label input:checked ~ .checkmark {*/
/*    background-color: #ffffff;*/
/*}*/
/*.specialization label input {*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*}*/
label.price_starting{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin: 0 0 5px!important;
    display: inline-block;
}

.sign_in_content form .check,
.sign_up_content form .check{
    text-align: left;
    margin: 15px 0 30px;
}
.sign_in_content form p a,
.sign_in_content form p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: end;
}
input#check,
input#seller,
input#manufacturer,
input#service,
input#privacy_policy{
    accent-color: #8B3A00;
    width: auto;
}
input#regCheck {
    accent-color: #8B3A00;
    width: auto;
}
#name,
#surname,
#companyName{
    background-image: url("../images/user_ic.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
}
#phone{
    background-image: url("../images/number_ic.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
}

#Email,
#regEmail{
    background-image: url("../images/email_ic.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
}
#pass,
#regPass,
#confPass{
    background-image: url("../images/lock_ic.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20px center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content ul{
    width: 100%;
    max-width: 375px;
    display:inline-block;
    vertical-align: top;

}

.dropdown-content li{
    padding:4px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}

.dropdown-content li a{
    padding:0;
    transition:0.5s;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}

.dropdown-content li a:hover{
    background:none;
    color:#8B3A00;
}
.mega-menu-p{
    padding: 30px 157px;
}
.mega-menu.women{
    background-image:  url("../images/woman_bg.png")!important;
}
.mega-menu.man{
    background-image:  url("../images/man_bg.png")!important;
}
.mega-menu.children{
    background-image:  url("../images/children.png")!important;
}
.silver.mega-menu{
    background-image:  url("../images/women_bg_silver.png")!important;
}
.silver.mega-menu.women{
    background-image:  url("../images/women_bg_silver.png")!important;
}
.silver.mega-menu.man{
    background-image:  url("../images/man_bg_silver.png")!important;
}
.silver.mega-menu.children{
    background-image:  url("../images/children_bg_silver.png")!important;
}
.watches.mega-menu{
    background-image:  url("../images/women_bg_watches.png")!important;
}
.watches.mega-menu.women{
    background-image:  url("../images/women_bg_watches.png")!important;
}
.watches.mega-menu.man{
    background-image:  url("../images/man_bg_watches.png")!important;
}
.souvenir.mega-menu{
    background-image:  url("../images/suviner_bg.png")!important;
}
.services.mega-menu{
    background-image:  url("../images/services_bg.png")!important;
}
.services.mega-menu,
.souvenir.mega-menu,
.watches.mega-menu.man,
.watches.mega-menu.women,
.watches.mega-menu,
.silver.mega-menu.children,
.silver.mega-menu.man,
.silver.mega-menu.women,
.silver.mega-menu,
.mega-menu.children,
.mega-menu.man,
.mega-menu.women{
    background-size: cover;
    background-position: top right;
    transition: 0.5s;
    background-repeat: no-repeat;
}

.guaranteed-inner .guaranteed {
    background-color: rgba(186,183,201, 0.7);
}
.guaranteed-inner .guaranteed p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding: 8px 0 0;
}
.currency-inner{
    max-width: 665px;
    width: 100%;
}
.currency-inner .currency{
    color: #000000;
}
.currency-inner .currency .vec{
    margin: 13px 0;
}
.currency-inner .currency table th,
.currency-inner .currency table td{
    text-align: center;
    display: inline-block;
    width: 20%;
    border-bottom: 1px solid #a6a5a9;
    padding: 5px 0;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    font-weight: normal;
}
.currency-inner .currency table .color_red{
    color: #FF0000;
}
.currency-inner .currency table .color_green{
    color: #185E00;
}
.currency-inner .currency tr{
    width: 100%;
}
.currency-inner .currency .tb-title{
    background-color: rgba(186,183,201, 0.7);
}
.currency-inner .tel{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
.search_input{
    /*background-color: rgba(14, 14, 14, 0.3);*/
    background-color: rgba(186,183,201, 0.7);
    padding: 11px 0 11px 40px;
    background-image: url("../images/search.png");
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.1);
    transition: width 0.4s ease-in-out;
    max-width: 275px;
}

.search-guaranteed{
    max-width:750px;
    width: 100%;
}
.search-guaranteed a.guaranteed-inner {
    max-width: 275px;
    width: 100%;
    display: block;
    margin: 0 0 0 auto;
}
.search-guaranteed label{
    display: flex;
    justify-content: flex-end;
}
.search_input:focus {
    width: 100%;
    max-width:750px;
    /*margin-left: 50px;*/
}
.currency-inner .tel a{
    margin-right: 10px;
    color: #000000;
}
.mega-menu{
    /*background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("https://i.ibb.co/Ydng63L/001.jpg");*/
    background-image:  url("../images/woman_bg.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: #fff;
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 566px;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.bottomnav a:hover, .dropdown:hover .dropbtn {
    color:#8B3A00;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #8B3A00;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*section video*/
.video-inner{
    position: relative;
}
.video-inner img{
    width: 100%;
}
.play{
    position: absolute;
    top: 25%;
    left: 50%;
    cursor: pointer;
}
/*section collection*/
.collection-inner .collection .title h2{
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    color: #000000;
    margin-right: 30px;
    min-width: max-content;
}
.collection-inner .collection .title{
    margin: 45px 0 15px;
}
.collection-inner .collection .home_content_tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto auto 30px;
}
.collection-inner .collection .home_content_tabs span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.collection-inner .collection .home_content_tabs button{
    background: #A97742;
    opacity: 0.5;
    border-radius: 25px;
    max-width: 100px;
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 20px;
}
.collection-inner .collection .home_content_tabs button .handle{
    background: #FFFFFF;
    opacity: 0.76;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.collection-inner .collection .home_content_tabs button.active_btn .handle{
    margin: 0 0 0 auto;
}
.active_btn{
    display: block;
}
.collection-inner .collection .shopping_center_content{
    display: none;
    max-width: 1450px;
    margin: 0 auto;
}
.collection-inner .collection .collection_content{
    /*display: none;*/
    max-width: 1450px;
    margin: 0 auto;
}
.collection_hover .newAdded_sellection > div:last-child {
    margin: 30px 50px 50px 50px;
    max-width: 100%;
    width: 100%;
}
.collection-inner .collection .collection_content > div:nth-child(1),
.collection-inner .collection .shopping_center_content > div:nth-child(1){
    margin-bottom: 80px;
}
.collection-inner .collection .collection_content > div:nth-child(2),
.collection-inner .collection .shopping_center_content > div:nth-child(2){
    margin-bottom: 30px;
}
.collection-inner .collection .collection_content_all{
    text-align: center;
}
.collection-inner .collection .collection_content_all a{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #8B3A00;
}
.collection-inner .collection .slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.collection-inner .collection .collection_hover .slider-item  .slider-item-img{
    position: relative;
}
.collection-inner .collection .collection_hover .slider-item  .slider-item-img .collection_hover_item{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    /*filter: blur(9px);*/
    justify-content: center;
    align-items: center;
    display: none;
}
.collection-inner .collection .collection_hover .slider-item:hover  .collection_hover_item {
    display: flex;
}
.collection-inner .collection .collection_hover .slider-item  .slider-item-img .collection_hover_item  a{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    width: 50%;
    padding: 28px;
    text-align: center;
}
.collection-inner .collection .collection_hover .slider-item  .slider-item-img .collection_hover_item a:hover{
    background: rgba(66, 66, 66, 1);
    /*opacity: 0.5;*/
}

.collection-inner .collection .slider-item img{
    width: 100%;
}
.collection-inner .collection .slider-item .slider-item-title {
    background: rgba(14, 14, 14, 0.1);
    padding: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.slick-prev:before {
    content: url("../images/left_arrow.png");
}
.slick-next:before {
    content: url("../images/right_arrow.png");
}
/*new added*/
.collection-inner .collection .newAdded-inner .newAdded {
    max-width: 1405px;
    width: 100%;
    margin: 0 auto 30px;
}
.collection-inner .collection .newAdded-inner .newAdded .slider-item-title p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.collection-inner .collection .newAdded-inner .newAdded .slider-item-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
}
.collection-inner .collection .newAdded-inner .newAdded .slick-prev {
    left: -70px;
}
.collection-inner .collection .newAdded-inner .newAdded .slick-next {
    right: -70px;
}
/*most viewed*/
.mostView{
    margin-bottom: 40px;
}
/*footer*/
.footer-inner{
    background: #BAB7C9;
    padding: 70px 0;
}
.footer-inner .container{
    max-width: 1590px;
}
.footer-inner .container .footerNav ul li a  {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #000000!important;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-inner .container .footerIcon  {
    margin-top: 30px;
}
.footer-inner .container .footerIcon div a  {
    margin-left: 50px;
}
/*my sellection*/
.newAdded_sellection {
    display: flex;
    justify-content: center;
    max-width: 1350px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.newAdded_sellection > div{
    margin: 30px 50px 50px 50px;
    max-width: 350px;
    width: 100%;
}
.collection-inner .collection .newAdded_sellection .slider-item .slider-item-title span{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
}
.collection-inner .collection .newAdded_sellection .slider-item .slider-item-title p{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
/*end my sellection*/

/*add to cart*/
.add_to_cart{
    display: flex;
    justify-content: center;
    padding: 150px 0 ;
}
.add_to_cart .cart_content p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    max-width: 424px;
    width: 100%;
    margin-right: 110px;
    margin-bottom: 10px;
}
.add_to_cart .cart_content p span{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    display: inline-block;
}
.add_to_cart .add-cart_btn{
    background: rgba(146, 85, 29, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    padding: 7px 32px;
    outline: none;
    border: none;
    margin-top: 30px;
}
.add_to_cart .add_cart_info{
    text-align: center;
}
.about_us {
    max-width: 1420px;
    margin: 0 auto;
    padding: 30px 0 80px;
    text-align: center;
}
.about_us h1{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 25px;
}
.about_us p{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}
/*about us*/
.contact_content {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}
/*collection page*/
.collection-inner .collection .collectionAll{
    display: flex;
    justify-content: space-between;
}
.collection-inner .collection .collectionAll .newAdded_sellection {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.collection-inner .collection .collectionAll .newAdded_sellection > div {
    margin: 30px 22px 50px 22px;
}
.collection-inner .collection .collectionAll .filter_width{
    max-width: 285px;
    width: 100%;
    padding-top: 30px;
}
.collection-inner .collection .collectionAll .filter_width .title_fl{
    background: transparent;
    max-width: 100%;
    width: auto;
    padding: 7px 10px;
}
.collection-inner .collection .collectionAll .filter_width .title_fl p{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    box-sizing: border-box;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.collection-inner .collection .collectionAll .sort_by{
    max-width: 251px;
    width: 100%;
    padding-top: 30px;
}
.collection-inner .collection .collectionAll .filter_width .select_specialization.toggle_class {
    background: transparent;
    max-width: 100%;
    width: auto;
    padding: 7px 10px;
    cursor: pointer;
}
.collection-inner .collection .collectionAll .sort_by .select_specialization.toggle_class {
    background: rgba(14, 14, 14, 0.2);
    border-radius: 5px;
    max-width: 100%;
    width: auto;
    box-shadow: 0 0 9px 0 #bab7c9;
    padding: 7px 10px;
    cursor: pointer;
}
.collection-inner .collection .collectionAll .sort_by .select_specialization.toggle_class span{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;

}
.collection-inner .collection .collectionAll .filter_width .select_specialization.toggle_class span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
.collection-inner .collection .collectionAll .sort_by .specialization {
    padding: 10px;
    border: none;
    background: rgba(14, 14, 14, 0.2);
    border-radius: 4px;
    box-shadow: 0 0 9px 0 #bab7c9;
    top: -13px;
}
.collection-inner .collection .collectionAll .filter_width .specialization {
    position: relative;
    display: none;
    top: -12px;
    background-color: transparent;
    padding: 7px 10px;
    border: none;
}
.collection-inner .collection .collectionAll .sort_by .specialization ul li{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 5px;
    cursor: pointer;
}
.collection-inner .collection .collectionAll .sort_by .specialization ul li:hover{
    color: #8B3A00;
}
/* guarantee page*/
.guarantee {
    padding: 30px 0 80px;
}
.guarantee h1{
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    text-align: center;
    margin-bottom: 63px;
}
.guarantee .guarantee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guarantee .guarantee-item .guarantee-content p{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    max-width: 992px;
    width: 100%;
}
.guarantee .guarantee-item .guarantee-content {
    text-align: center;
}
.guarantee .guarantee-item .guarantee-content a{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #8B3A00;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    display: inline-block;
}
.guarantee .guarantee-item .guarantee-img{
    max-width: 740px;
    width: 100%;
}
.guarantee .guarantee-item .guarantee-img h2{
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 17px;
}
.guarantee .guarantee-item .guarantee-img img{
    width: 100%;
}
.order_1{
    order: 1;
}
.guarantee .guarantee-item .guarantee-img.order_1{
    max-width: 421px;
}
.order_2{
    order: 2;
}
.guarantee .guarantee-item .guarantee-img.order_2{
    max-width: 506px;
}
/*filter*/
input#price_starting, input#price_until ,
input#weight_starting,input#weight_until,
input#year{
    max-width: 75px;
    width: 100%;
    height: 37px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    outline: none;
}

/*single product page */
.collection-inner.single_inner .collection .title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.collection-inner.single_inner  .single_product{
    display: flex;
    /*justify-content: space-between;*/
}
.collection-inner.single_inner  .single_product .product_img img{
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_img .product_slid_img{
    display: flex;
    justify-content: space-between;
}
.collection-inner.single_inner {
    padding: 35px 0;
}
.collection-inner.single_inner  .single_product .product_img {
    margin-right: 35px;
    max-width: 650px;
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_description  {
    max-width: 808px;
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_description .product_name h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 15px;
}
.collection-inner.single_inner  .single_product .product_description .product_name span {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
.collection-inner.single_inner  .single_product .product_description .product_name .star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_btn .buy_product,
.collection-inner.single_inner  .single_product .product_description .product_name .product_btn button {
    background: rgba(146,85,29,0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 7px 15px;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    cursor: pointer;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_btn .buy_product {
    font-size: 20px;
    line-height: 25px;
    color: #8B3A00;
    justify-content: center;
    background: rgba(146,85,29,0.5);
    padding: 7px 0;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_btn {
    max-width: 239px;
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li .specialization {
    display: none;
    background: #D2BFB2;
    border-radius: 5px;
    padding: 10px;
    border: none;
    position: absolute;
    z-index: 99;
    top: 60%;
    max-width: 100px;
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li .specialization li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li .select_specialization.toggle_class {
    background: #D8C6BA;
    border-radius: 15px;
    padding: 5px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    max-width: 100px;
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li span.price{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 112px;
    width: 100%;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li span.change{
    border: 1px solid rgba(146,85,29,0.2 ) ;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    padding: 4px 7px;
    max-width: 120px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li span:nth-child(1){
    width: 25%;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info ul li span:nth-child(2){
    width: 75%;
}
.collection-inner.single_inner  .single_product .product_description .product_name .product_info  .product_info_all{
    width: 100%;
    max-width: 50%;
}
.collection-inner.single_inner  .single_product .product_description .description h3,
.collection-inner.single_inner  .single_product .product_description .contact h3{
    background: rgba(146,85,29,0.2);
    margin-top: 35px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 20px;
}
.collection-inner.single_inner  .single_product .product_description .contact ul li img{
    margin-right: 18px;
}
.collection-inner.single_inner  .single_product .product_description .contact ul li {
    margin-bottom: 20px;
    display: flex;
}
.collection-inner.single_inner  .single_product .product_description .contact ul li div:nth-child(1) {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.collection-inner.single_inner  .single_product .product_description .contact ul li div:nth-child(2) {
    width: 67%;
}
.mySellection.changeSize .modal-content a,
.mySellection.changeSize .modal-content span  {
    box-shadow: none;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    display: flex;
    width: auto;
}
.mySellection.changeSize .modal-content img{
    width: auto;
    margin-right: 5px;
}

.mySellection.changeSize .modal-wrapper{
    min-height: 630px;
    top: 50%;
    background: #E9E7F1;
}
.mySellection.makeOffer .modal-content img{
    width: auto;
    margin-right: 5px;
    margin-bottom: 35px;
}
.mySellection.makeOffer .modal-wrapper{
    min-height: 630px;
    top: 50%;
    background: #E9E7F1;
}
.mySellection.makeOffer .modal-content p {
    background: transparent;
    padding: 0;
    margin:  5px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.mySellection.makeOffer .modal-content span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.mySellection.makeOffer .modal-content .form_make_offer h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #8B3A00;
    margin: 30px 0;
}
.mySellection.makeOffer .modal-content .makeOffer_none {
    max-width: 340px;
    margin: 0 auto;
    width: 100%;
}
.mySellection.makeOffer .modal-content .form_make_offer p {
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 56px;
    color: gray(0);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    margin-bottom: 30px;
}
.mySellection.makeOffer .modal-content .form_make_offer textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
}
.mySellection.makeOffer .modal-content .makeOffer_block p span:first-child{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0,0,0, 0.6);
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    max-width: 160px;
    width: 100%;
}
.mySellection.makeOffer .modal-content .makeOffer_block p span:last-child{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    max-width: 270px;
    width: 100%;
}
.mySellection.makeOffer .modal-content .makeOffer_block  p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}
.mySellection.makeOffer .modal-content .makeOffer_block {
    display: none;
}
.mySellection.makeOffer .modal-content .form_make_offer .makeOffer_block input[type=submit] ,
.mySellection.makeOffer .modal-content .form_make_offer .makeOffer_block .makeOffer_prev ,
.mySellection.makeOffer .modal-content .form_make_offer .makeOffer_none .makeOffer_next {
    background: #D2BFB2;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 4px ;
    max-width: 216px;
    width: 100%;
    margin: 45px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    cursor: pointer;
}
.mySellection.makeOffer .modal-content .form_make_offer .makeOffer_block input[type=submit] ,
.mySellection.makeOffer .modal-content .form_make_offer .makeOffer_prev  {
    margin: 15px auto 0;
    display: block;
}
.collection-inner.single_inner  .single_product .product_description .contact ul li a ,
.collection-inner.single_inner  .single_product .product_description .contact ul li span {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;

}
.collection-inner.single_inner  .single_product .product_description .contact .comp_page {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #8B3A00;
}
.collection-inner.single_inner  .single_product .product_description .description table{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 15px 0 30px;
}
.collection-inner.single_inner  .single_product .product_description .description table:first-child{
    border: none;
}
.collection-inner.single_inner  .single_product .product_description .description table th,
.collection-inner.single_inner  .single_product .product_description .description table td{
    width: 20%;
    text-align: left;
}
.collection-inner.single_inner  .single_product .product_description .description table th,
.collection-inner.single_inner  .single_product .product_description .description  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}
.collection-inner.single_inner  .single_product .product_description .description table td,
.collection-inner.single_inner  .single_product .product_description .description  p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.product_info_all .sort_by .select_specialization.toggle_class {
    background: transparent;
    border-radius: 0;
    max-width: 112px;
    width: auto;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
}
.product_all_img{
    display: none;
    margin: 5px 0;
    justify-content: space-between;
}
.product_all_img div{
    max-width: 110px;
    width: 100%;
}
.slider-item:hover  .product_all_img{
    display: flex;
}
.search_result{
    background: rgba(231,230, 241 , 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 30px 36px;
    position: absolute;
    top: 40px;
    z-index: 9;
    display: none;
}
.search-guaranteed form{
    position: relative;
}
.search_result .slider-item{
    max-width: 150px;
    width: 100%;
}
.search_result .dFlex{
    gap: 25px;
}
.search_result .slider-item .slider-item-title {
    background: rgba(14, 14, 14, 0.2);
    text-align: center;
}
.search_result .slider-item .slider-item-title span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}
.search_result .collection_content_all a{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #8B3A00;
}
.search_result .collection_content_all {
    text-align: center;
    margin: 30px 0;

}
.search_result .slider-item .slider-item-title p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}
.search_result img{
    width: 100%;
}
/*buy page */
.buy-inner{
    max-width: 1200px;
    margin: 0 auto;
}
.buy-inner .review_item{
    background: #EDECF2;
    border: 1px solid #8B3A00;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1125px;
    width: 100%;
    margin: 30px auto;
    padding: 40px 30px;
}
.buy-inner .review_item img{
    max-width: 320px;
    width: 100%;
}
.buy-inner .review_item .buy-details{
    margin-left: 80px;
    max-width: 380px;
    width: 100%;
}
.buy-inner .review_item .buy-details h4{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 20px;
}
.buy-inner .review_item .buy-details p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.buy-inner .review_item .buy-details li{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    display: flex;
    margin-bottom: 20px;
}
.buy-inner .review_item .buy-details li span:first-child {
    max-width: 101px;
    width: 100%;
}
.buy-inner .review_item .buy-details li span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-right: 5px;
}
.buy-inner .review_item .buy-details li span a{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    border-left: 2px solid #000000;
    color: #8B3A00;
    padding-left: 5px;

}
.buy-inner .review_item .ship_to {
    max-width: 800px;
    width: 100%;
    border-right: 1px solid rgba(0,0,0,0.3);
}
.buy-inner .review_item .ship_to form {
    max-width: 400px;
}
.buy-inner .review_item .ship_to form div > label {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.buy-inner .review_item .ship_to .delivery_inp label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    display: flex;
    margin-bottom: 15px;
}
.buy-inner .review_item .buy-details  label span,
.buy-inner .review_item .buy-details  label  {
    display: flex;
    align-items: center;
}
.buy-inner .review_item .buy-details  label span span{
    position: absolute;
    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.buy-inner .review_item .buy-details  .add_to_cart{
    padding: 0;
}
.buy-inner .review_item .buy-details  label  {
    margin-bottom: 30px;
    position: relative;
}
.buy-inner .review_item .buy-details  label input  {
    margin-right: 10px;
}
.buy-inner .review_item .buy-details  label img {
    max-width: 50px;
    width: 100%;
    min-height: 25px;
}
.buy-inner .review_item .ship_to .delivery_inp label input{
    margin-right: 5px;
}
.buy-inner .review_item .ship_to .delivery_inp {
    padding: 20px;
}
.review_item.confirm {
    justify-content: center;
}
.buy-inner .review_item.confirm .buy-details .add_cart_info > p{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
}
.buy-inner .review_item.confirm .buy-details .add_cart_info > p span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.buy-inner .review_item.confirm .buy-details .add_cart_info a{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #8B3A00;
}
/*services page*/
.product_img .services_img{
    max-width: 512px;
    margin: 0 auto;
}
.single_inner .single_product .description .bio{
    padding: 20px 0;
}
/*account page*/
.video-inner .account {
    position: absolute;
    bottom: 10%;
    right: 2%;
}
.video-inner .account p{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}
.account-inner .contact h2{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;

}
.account-inner.collection-inner.single_inner .product_description{
    border-left: 1px solid rgba(0,0,0,0.3);
    padding-left: 70px;
    max-width: 578px;
    width: 100%;
}
.account-inner .account-about .about{
    max-width: 907px;
    width: 100%;
}
.account-inner .account-about h3{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}
.account-inner .account-about p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 20px;
}
.account-inner.collection-inner.single_inner .product_description .contact .dFlex > div{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
.account-inner.collection-inner.single_inner .product_description .contact.collection .dFlex{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
.account-inner.collection-inner.single_inner .product_description .contact.collection{
    margin-top: 100px;
}
.account-inner.collection-inner.single_inner .account-about{
    max-width: 1100px;
    width: 100%;
    padding-right: 70px;
}
.collection-inner .collection .products .collectionAll .newAdded_sellection > div {
    margin: 20px 10px;
    max-width: 310px;
    width: 100%;
}
@media (max-width: 1450px) {
    .dropdown-content ul {
        width: 100%;
        max-width: 200px;
    }
    .dropdown-content li a{
        font-size: 18px;
    }
    .dropdown-content .title{
        font-size: 20px;
    }
    .collection-inner .collection .newAdded-inner .newAdded .slick-prev {
        left: -25px;
    }
    .collection-inner .collection .newAdded-inner .newAdded .slick-next {
        right: -25px;
    }
    .currency-inner .currency table th,
    .currency-inner .currency table td,
    .topnav .dropdown .dropbtn,
    .currency-inner .tel {
        font-size: 18px;
    }
    .search_input{
        font-size: 15px;
    }
    .collection-inner .collection .title h2{
        font-size: 45px;
    }
    .collection-inner .collection .home_content_tabs span{
        font-size: 15px;
    }
    .collection-inner .collection .home_content_tabs button{
        max-width: 86px;
        height: 38px;
    }
    .collection-inner .collection .home_content_tabs button .handle{
        width: 25px;
        height: 25px;
    }
    .collection-inner .collection .slider-item .slider-item-title,
    .bottomnav .dropdown .dropbtn,
    .collection-inner .collection .newAdded-inner .newAdded .slider-item-title p,
    .footer-inner .container .footerNav ul li a{
        font-size: 25px;
    }
    .collection-inner .collection .collection_content_all a{
        font-size: 28px;
    }
    .collection-inner .collection .newAdded-inner .newAdded .slider-item-title span{
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .currency-inner {
        max-width: 500px;
    }
}
@media (max-width:900px){
    .dropdown-content ul{
        width:25%;
        display:inline-block;
    }
    .centernav .navWidth{
        flex-direction: column;
    }
    .currency-inner{
        order: 2;
        max-width: 100%;
    }
    .search-guaranteed{
        max-width: 274px;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width:800px){
    .dropdown-content ul{
        width:40%;
        display:inline-block;
    }
}

@media screen and (max-width: 600px) {
    .bottomnav a:not(:first-child),.bottomnav .dropdown .dropbtn {
        display: none;
    }
    .bottomnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .bottomnav.responsive {position: relative;}
    .bottomnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .dropdown-content ul{
        width:90%;
        display:block;
    }
    .dropdown-content li:not(:first-child){
        display:none;
        transition:0.5s;
    }

    .dropdown-content ul:hover > li{
        display:block;
    }
    .bottomnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .bottomnav.responsive .dropdown {float: none;}
    .bottomnav.responsive .dropdown-content {position: relative;}
    .bottomnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*.animate {*/
/*    -webkit-animation: animatezoom 0.6s;*/
/*    animation: animatezoom 0.6s*/
/*}*/

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
